<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PostIt-Message Board </title>
	 <link rel=stylesheet type="text/css" href="./style.css">

<body>

	<div id="header">
		<div class="logo"><a href=#">PostIt </a></div>
	</div>

	<div id ="container">
		<div class="sidebar">
			<ul id="nav">
				<li><a class="selected" href="#">Dashboard</a></li>
				<li><a class="selected" href="#">Groups</a></li>
				<li><a class="selected" href="#">Recent Messages</a></li>
				<li><a class="selected" href="#">Contact Us</a></li>
			</ul>
		</div>
		
		<div class="content">
			<h1>Dashboard</h1>
			<div class ="chatbox">
				<div class="chatlogs">
			
						<div class="chat self">
							<div class ="user-name"><p>Chief </p></div>
							<p class ="chat-message">Hey Victoria</p>
						</div>
					
						<div class="chat friend">
							<div class ="user-name"><p>Victoria</p></div>
							<p class ="chat-message">What's up</p>
					
						</div>
						
						<div class="chat self">
							<div class ="user-name"><p>Chief </p></div>
							<p class ="chat-message">Nothing much...</p>
						</div>
					
						<div class="chat self">
							<div class ="user-name"><p>Chief </p></div>
							<p class ="chat-message">Do you think breafast is ready?</p>
					
						</div>
						<div class="chat friend">
							<div class ="user-name"><p>Victoria</p></div>
							<p class ="chat-message">Lol...I will check.</p>
						</div>
					
						<div class="chat self">
							<div class ="user-name"><p>Chief</p></div>
							<p class ="chat-message">Oh no, it's fine</p>
					
						</div>
						
				</div>
				<div class ="chat-form">
						<textarea> </textarea>
						<button>Send</button>
				</div>
			</div>
		</div>

	</div>

</body>
</html>